@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply text-3xl;
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    @apply text-5xl;
    font-family: 'Poppins', sans-serif;
  }
  h2 {
    @apply text-4xl;
    font-family: 'Poppins', sans-serif;
  }
  h3 {
    @apply text-3xl;
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply cursor-pointer transition-all bg-blue-300 text-purple-950 px-6 py-3 rounded-lg text-3xl
    border-blue-400 
    border-b-[6px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
    active:border-b-[2px] active:brightness-90 active:translate-y-[2px];
  }

  .btn-nav {
    @apply cursor-pointer transition-all bg-white text-purple-950 px-6 py-3 rounded-lg text-xl
    border-gray-400 
    border-b-[6px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
    active:border-b-[2px] active:brightness-90 active:translate-y-[2px];
  }
  .btn-nav-mob {
    @apply cursor-pointer transition-all bg-white text-purple-950 px-6 py-3 rounded-lg text-xl
    border-gray-400 
    border-b-[6px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
    active:border-b-[2px] active:brightness-90 active:translate-y-[2px] block;
  }

  .btn-small {
    @apply cursor-pointer transition-all bg-white text-purple-950 px-4 py-0 rounded-lg text-lg
    border-gray-400 
    border-b-[6px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
    active:border-b-[2px] active:brightness-90 active:translate-y-[2px];
  }

  .image-grid {
    @apply w-32 h-auto cursor-pointer border-solid border-8 border-transparent rounded-full transition ease-in-out duration-300;
  }
  .nav-link-mob {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
  }
  span.svg-icon {
    width: 40px;
    height: 40px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
  }
  .points-fixed {
    text-align: center;
    @apply text-xl text-yellow-400;
  }
  .card-chore {
    @apply relative bg-purple-800 block p-6 rounded-lg;
  }
  .colour-border {
    @apply absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600;
  }
  .main-title {
    @apply flex justify-center mb-6 uppercase;
  }
}
